/* @keyframes blob {
  0% {
    transform: translateY(0px) scale(1);
  }
  33% {
    transform: translateY(-30px) scale(1.1);
  }
  66% {
    transform: translateY(20px) scale(0.9);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.animate-blob {
  animation: blob 6s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
} */

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-bounce-slow {
  animation: bounce-slow 4s infinite ease-in-out;
}

.animate-float {
  animation: float 6s infinite ease-in-out;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-zoom-in {
  animation: zoom-in 1s ease-out forwards;
}
