@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input-no-spinner {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .input-no-spinner::-webkit-inner-spin-button,
  .input-no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
